.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchBar{
  width: 300px;
  height: 30px;
  border: 2px solid gold;
  border-radius: 10px 0 0 10px;
  margin-top: 50px;
  padding:0 15px;
}

.searchBar:focus{
  outline: none;
}

.apply{
  width: 100px;
  height: 34px;
  border: 2px solid gold;
  border-radius: 0 10px 10px 0;
  background-color: gold;
  cursor: pointer;
}

.cardContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.card{
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gold;
  border-radius:10px;
  padding: 0 15px;
  margin: 20px;
}

.card h1{
  font-size: 18px;
}

.delete{
  color: red;
  font-size: 18px;
  cursor: pointer;
  transition: all .5s ease-in;
}

#correct{
  color: white;
  font-size: 24px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

#correctToggle{
  color: green;
  font-size: 24px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.delete:hover,.correct:hover{
  transform: scale(1.2);
}
